<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
      <h1></h1>
    </div>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
