<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Political Accountability 'R' Us</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    #if (!$signedIn)
      <link rel="stylesheet" href="../../css/hide-forms.css" type="text/css">
    #end
  </head>
  <body>
    <div class="jumbotron">
      <div class="signed-in">
        #if($signedIn)
          <p>Welcome, $loggedInUser.getUserName()</p>
        #end
      </div>
      <div class="sign-in">
        #if($signedIn)
          <form action="/sign-out" method="post" id="sign-in-button">
            <button type="submit" class="btn btn-primary">Sign Out</button>
          </form>
        #else
          <form action="/sign-in" method="get">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        #end
      </div>
      <div class="container" id="title">
        <h1>Political Accountability 'R' Us</h1>
      </div>
    </div>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
